!!!5
html
  head
    title A Fancy Shit ToDo List
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet",
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/main.css")
  body
    block body
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js")
