extends layouts/base
block body
  .container
    .row
      .col-sm-12
        .page-header
          h1.md-align-center WTF R U Doin
            br
            small.md-align-center um, this:
    .row
      .col-sm-6.col-xs-12
        form(id="todo-form", class="form", action="/create",
          method="post", class="todo-form")
          .form-group(id="todo-input")
            textarea(class="form-control", type="text", name="content")
          .form-group
            button(class="btn btn-info", type="submit", value="") New Todo

      .col-sm-6.col-xs-12
        if todos
          ul.todo-list
            -for item in todos
              li
                if item._id == current
                  form(id="todo-form", class="form", action="/update/#{current}", method="post", class="todo-form")
                    .form-group(id="todo-input")
                      textarea(class="form-control", type="text", name="content") #{item.content}
                    .form-group
                      .btn-group
                        a(class="btn btn-danger",href="/") Cancel
                        button(class="btn btn-info", type="submit", value="") Save
                else
                  a(href='/destroy/' + item._id)
                    button &times;
                  a(class="todo-item", href="/edit/" + item._id)
                    p #{item.content}
