extends layouts/base
block body
  .container
    .row
      .col-sm-12
        h1.align-center WTF R U Doin
        h2.align-center um, this:
    .row
      .col-sm-6.col-sm-push-6
        form(action="/create", method="post", class="todo-form")
          input(type="text", name="content")
          input(type="submit", value="submit")

      .col-sm-6.col-sm-pull-6
        if todos
          ul
            -for item in todos
              li
                p
                  a(class="todo-item", href="/edit/" + item._id) #{item.content}  
                  a(href='/destroy/' + item._id)
                    button &times;

