extends layouts/base
block body
  h1 wooo
  if todos
    ul
      -for item in todos
        li
          p #{item.content} 
            a(href='/destroy/' + item._id) &times;

  if snacks
    ul
      -for snack in snacks
        li #{snack}

  form(action="/create", method="post", class="todo-form")
    input(type="text", name="content")
    input(type="submit", value="submit")
